body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

p {
    margin: 5px;
    font-weight: 500;
}

.smaller {
    font-size: 20px;
    color: grey;
}

.bigger{
    font-size: 36px;
    height: 40px;
}

.container {
    border-radius: 5px;
    border: 1px solid black;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.number-button {
    background-color: lightcyan;
    width: 75px;
    height: 75px;
    margin: 5px;
    font-size: 36px;
}

#equals-button {
    background-color: lightcyan;
    width: 170px;
    height: 75px;
    margin: 5px;
    font-size: 36px;
}

#calculator-container {
    background-color: lightcoral;
    padding: 20px;
    width: 500px;
}

#calculator-screen {
    background-color: aliceblue;
    width: 450px;
    height: 100px;
}

#calculator-buttons-container {
    background-color: antiquewhite;
    width: 450px;
}

#number-buttons-container {
    flex-wrap: wrap;
    padding: 5px;
    width: 280px;
}

.operator-button {
    background-color: lightcyan;
    width: 75px;
    height: 75px;
    margin: 5px;
    font-size: 30px;
}

#calculator-screen {
    padding: 5px;
    justify-content: flex-end;
    align-items: flex-end;
}